body{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    color:white;
  }
  .itemBox{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    border-radius:4px;
    height:110px;
    width:170px;
    background-color:purple;
    margin:5px
  }
  .gender-male,.gender-female{
    display:flex;
    margin:10px;
  /*    */
  }
  .button-box{
    display:flex;
    flex-direction:column;
    align-items:stretch;
    justify-content:center;
    border-radius:4px;
    height:99px;
    width:170px;
    background-color:purple;
    margin:5px
  }
  .result-box{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-radius:4px;
    color:white;
    height:70px;
    width:170px;
    background-color:purple;
    margin:5px
  }
  .itemBox,.button-box,.result-box{
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .2);
  }
  
  button{
    margin:6px;
    border-radius:4px;
    padding:5px;
    font-size:20px;
  }
  label{
    margin:8px;
    border-radius:4px;
  }